 .background {
    height: 100wh;
    /* background-color: rgba(0, 0, 0, 0); */
    background-size: 100%;
    width: 100wh;
    height: 100wh;
}

body {
    /*background-image: url("../img/temp-bg.jpg"); */
    background-image: url("../img/temp-bg-2.jpg");
    background-color: #cccccc;
}

.page-heading{
    margin-top: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: whitesmoke;
}

.white-text{
    color:whitesmoke;
}

.zoom-out {
    zoom: 90%;
}